/* * {
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

body {
    background-color: #000000ec !important;
    overflow-x:hidden;
}

.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}


.not-found {
    height: 100vh;
    background:none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#FFF
}