.myNav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    background-color: #CCC;
}


.navul {

    /* position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); */
}

.navFakeImage {
    margin-right: 5px;
    padding: 10px 15px;
    background: linear-gradient(to right, #ff0000, #0000ff);
    color: #FFF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}